name: Trigger Price Fetch on a CRON Schedule

on:
  schedule:
    # Runs "at minutes 10 past every hour"
    - cron: "*/10 * * * *"
jobs:
  build:
    name: Trigger Price Refetch
    runs-on: ubuntu-latest
    steps:
      - name: cURL request
        # Hit the webhook endpoint to rebuild  from the "main" branch
        run: curl -X POST -d {} airtable-crypto-portfolio.vercel.app/portfolio-allocation
