name: Trigger Price Fetch on a CRON Schedule

on:
  schedule:
    # Runs "at 4:20 am"
    - cron: "20 4 * * *"
jobs:
  build:
    name: Trigger Price Refetch
    runs-on: ubuntu-latest
    steps:
      - name: cURL request
        # Hit the webhook endpoint to rebuild  from the "main" branch
        run: curl -X GET https://airtable-crypto-portfolio.vercel.app/api/update-token-prices
